<div style="width: 100%">
    <div style="background-color: white; padding-top: 10px; padding-bottom: 0px; margin-left: 5px">
        <ul class="breadcrumb">
            <li>Thẩm tra, soát xét hồ sơ</li>
            <li>Danh sách hồ sơ chờ tiếp nhận</li>
        </ul>
    </div>
    <div class="content p-12">
        <h3>Danh sách hồ sơ chờ tiếp nhận</h3>
        <div class="filter" fxLayout="column" fxLayoutAlign="start start">
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;" class="container-input">
                <div class="wrap-box-input">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Loại hồ sơ</mat-label>
                        <mat-select [(ngModel)]="searchItem.LoaiHoSo">
                            <mat-option [value]="''">---Tất cả---</mat-option>
                            <mat-option *ngFor="let item of dsLoaiHs" [value]='item.loaiHoSoId'>{{ item.tenLoaiHoSo }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="wrap-box-input">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Đơn vị đề nghị</mat-label>
                        <mat-select [(ngModel)]="searchItem.BoPhanYeuCau">
                            <mat-option>
                                <ngx-mat-select-search class="filter" placeholderLabel="Tìm kiếm"
                                    [formControl]="filterDonVi"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option [value]="0">---Tất cả---</mat-option>
                            <mat-option *ngFor="let item of filteredDonVi" [value]='item.id'>{{ item.tenDonVi }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="wrap-box-input">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Ngày gửi yêu cầu</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate [(ngModel)]='searchItem.TuNgay' placeholder="Từ ngày">
                            <input matEndDate [(ngModel)]='searchItem.DenNgay' placeholder="Đến ngày">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                    </mat-form-field>
                </div>

                <div class="wrap-box-input">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Từ khoá</mat-label>
                        <input matInput [(ngModel)]="searchItem.TuKhoa" type="text" placeholder="Tìm kiếm hồ sơ">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
                <div fxFlex="100">
                    <button mat-raised-button color="primary" matTooltipPosition="above" matTooltip="Tìm kiếm"
                        (click)="searchHs()">
                        <span>
                            <mat-icon>search</mat-icon> Tìm kiếm
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="table-container">
            <table mat-table [dataSource]="listTest" class="fs-13">

                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef style="width:50px"> Stt </th>
                    <td mat-cell *matCellDef="let element; let i = index"
                        style="text-align: center; vertical-align: top;">
                        {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="maHoSo">
                    <th mat-header-cell *matHeaderCellDef> Mã hồ sơ </th>
                    <td mat-cell *matCellDef="let element" style="vertical-align: top;">
                        {{ element.maHoSo }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="tenHoSo">
                    <th mat-header-cell *matHeaderCellDef> Tên hồ sơ </th>
                    <td mat-cell *matCellDef="let element" style="vertical-align: top;">
                        <a class="link" (click)="view(element.id)">{{ element.tenVietTat }}</a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="loaiHoSo">
                    <th mat-header-cell *matHeaderCellDef> Loại hồ sơ </th>
                    <td mat-cell *matCellDef="let element" style="vertical-align: top;">
                        <div>{{ element.loaiHoSo }}</div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="donViDeNghiTT">
                    <th mat-header-cell *matHeaderCellDef> Đơn vị đề nghị TT </th>
                    <td mat-cell *matCellDef="let element" style="text-align: left;vertical-align: top;">
                        {{ element.donVi }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="nguoiTao">
                    <th mat-header-cell *matHeaderCellDef> Người yêu cầu </th>
                    <td mat-cell *matCellDef="let element" style="vertical-align: top;">
                        {{ element.tenNguoiTao }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="tongTienDeNghiTT">
                    <th mat-header-cell *matHeaderCellDef> Số tiền đề nghị TT
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: right;vertical-align: top;">
                        {{ element.tongTienDeNghiTT | currency: "VND":"":"1.0-2":"vi-VN" }} {{element.loaiTienTe}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="ngayTao">
                    <th mat-header-cell *matHeaderCellDef> Ngày gửi yêu cầu </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center; vertical-align: top;">
                        {{ element.ngayTao | date:'dd/MM/yyyy' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="hanhDong">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px;">Thao tác</th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;vertical-align: top;">
                        <button mat-icon-button matTooltip="Tiếp nhận" (click)="view(element.id)">
                            <mat-icon>info</mat-icon>
                        </button>
                        <!-- <button mat-icon-button matTooltip="Từ chối" (click)="tuChoi(element)">
                            <mat-icon>close</mat-icon>
                        </button> -->
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <div class='action-paginator'>
                <mat-paginator [length]="totalRecord" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons
                    (page)="pageChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>