<table mat-table [dataSource]="history">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element; let index = index"> {{index + 1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nguoiDuyet">
        <th mat-header-cell *matHeaderCellDef> Người duyệt </th>
        <td mat-cell *matCellDef="let element"> {{element.tenNguoiThucHien}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="ngayDuyet">
        <th mat-header-cell *matHeaderCellDef> Ngày duyệt </th>
        <td mat-cell *matCellDef="let element"> {{element.ngayThucHien | date:'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="trangThai">
        <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
        <td mat-cell *matCellDef="let element"> {{getTrangThai(element.trangThaiPheDuyet)}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="noiDung">
        <th mat-header-cell *matHeaderCellDef> Nội dung </th>
        <td mat-cell *matCellDef="let element"> {{element.noiDung}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>