.container {
    display: "flex";
    flex-direction: row;
    width: 100%;
}
.flex-row{
    flex:1;
    display: "flex";
    flex-direction: "row";
    justify-content: space-between;
}
.flex-6 {
    flex:6;
    padding-right:2px;
    padding-left:2px;
} ;
.flex-5 {
    flex:5;
    padding-right:2px;
    padding-left:2px;
} ;
.flex-3 {
    flex:3;
    padding-right:2px;
    padding-left:2px;
} ;
.flex-2 {
    flex:2;
    padding-right:2px;
    padding-left:2px;
} ;
.flex-1 {
    flex:1;
    padding-right:2px;
    padding-left:2px;
} ;
.flex-05 {
    flex:0.5;
    padding-right:2px;
    padding-left:2px;
} ;
.flex-row{
    display: flex;
    flex:1; 
    flex-direction: row;
}
.full-width {
    width:100%;
}

.list-files {
    padding: 0;
    width: 65%;
    p {
        margin: 2px 0 2px 0;
    }
    .file-item {
        border-bottom: 1px solid #ccc;
        margin-bottom: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        button {
            margin-left: 10px;
        }

        p {
            line-break: anywhere;
        }
    }
}

:host ::ng-deep button.mat-focus-indicator.mat-raised-button.mat-button-base.mat-primary.mat-button-disabled {
    background-color: rgba(0, 0, 0, 0.12) !important;
  }
