

  ::ng-deep .mat-table td.mat-cell:hover {
    background-color: unset;
}

.box-input-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter {
  ::ng-deep .mat-form-field-wrapper {
      padding: 0 !important;
  }
}

::ng-deep .timKiem {
  padding: 5px 16px 0px 16px !important;
}

::ng-deep .mat-menu-panel {
  max-width: none !important;
}

ngx-mat-select-search {
  ::ng-deep .mat-select-search-inner {
      height: 3.25rem;
      box-shadow: none;
  }
}