<div style="min-width: 1000px;">
    <button mat-icon-button class="close-button-dialog" [mat-dialog-close]="false">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
    <div>
        <h3 mat-dialog-title class="fs-16 color-text">
            Ký phiếu thẩm tra
        </h3>
    </div>
    <div class="container" *ngIf="dataView" style="overflow: auto;">
        <div class="stepper-wrapper">
            <!-- <div class="stepper-item" [ngClass]="class1">
                <div class="step-counter">1</div>
                <div class="step-name">Cấp 1 <br>{{dataView.capKy >
                    1 ? '(Đã ký)' : '(Chưa
                    ký)'}}</div>
            </div>
            <div class="stepper-item" [ngClass]="class2">
                <div class="step-counter">2</div>
                <div class="step-name">Cấp 2 <br>{{dataView.capKy >= 3 ? '(Đã ký)' : '(Chưa
                    ký)'}}</div>
            </div> -->
        </div>
        <div class="flex-row resp">
            <div class="left">
                <app-view-phieu-chi-ngan-hang 
                    [id]="data.item.id"
                    [kyPhieuThamTra]="data.kyPhieuThamTra"
                    [taiLieuKy]="taiLieuKy"
                >
                </app-view-phieu-chi-ngan-hang>
            </div>
            <div class="right" [formGroup]="FormNoiDungTT">
                <div class="flex-row">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Nội dung ký</mat-label>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                            formControlName="noiDung" cdkAutosizeMaxRows="7" placeholder="Nội dung ký">
                                        </textarea>
                        <mat-checkbox [checked]="isChecked" (change)="valueChange($event)">Đồng ý</mat-checkbox>
                    </mat-form-field>
                </div>
                <div class="flex-row">
                    <button mat-raised-button color="primary" (click)="kyDuyet(danhSachThaoTac.btnDongYKyPhieuThamTraDetail)"
                        [disabled]="FormNoiDungTT.invalid" style="width: 100px">Đồng ý</button>
                </div>
                <div class="" flex-row>
                    <button mat-raised-button color="warn" (click)="khongDuyet(danhSachThaoTac.btnTuChoiKyPhieuThamTraDetail)"
                        [disabled]="FormNoiDungTT.invalid" style="width: 100px">Không duyệt</button>
                </div>
            </div>
        </div>
    </div>
</div>