<div style="width: 100%">
    <div style="background-color: white; padding-top: 10px; padding-bottom: 0px; margin-left: 5px">
        <ul class="breadcrumb">
            <li>Phê duyệt hồ sơ chứng từ</li>
            <li>Phê duyệt CT (Kế toán trưởng)</li>
        </ul>
    </div>
    <div class="content p-12">
        <h3>Phê duyệt chứng từ(Kế toán trưởng)</h3>
        <div class="container">
            <div class="flex-row respRow" style="flex-wrap: wrap;">
                <div class="respSearch">
                    <mat-form-field floatLabel="always" appearance="outline" fxFlex="60">
                        <mat-label>Trạng thái chứng từ</mat-label>
                        <mat-select [(ngModel)]="searchItem.trangThaiCT" (ngModelChange)="toHeadPage(); getDSChungtu()">
                            <mat-option *ngFor="let item of trangThaiCTSearch" [value]='item.id'>{{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="respSearch">
                    <mat-form-field floatLabel="always" appearance="outline" fxFlex="60">
                        <mat-label>Trạng thái ký duyệt</mat-label>
                        <mat-select [(ngModel)]="searchItem.trangThaiKD" (ngModelChange)="toHeadPage(); getDSChungtu()">
                            <mat-option [value]='-99'>---Tất cả---</mat-option>
                            <mat-option [value]='0'>Chưa ký</mat-option>
                            <mat-option [value]='1'>Đã ký</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="respSearch">
                    <mat-form-field floatLabel="always" appearance="outline" fxFlex="60">
                        <mat-label>Ngày lập chứng từ</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate [(ngModel)]='searchItem.NgayYeuCauLapCTStart' placeholder="Từ ngày">
                            <input matEndDate [(ngModel)]='searchItem.NgayYeuCauLapCTEnd' placeholder="Đến ngày">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
                <div class="respSearch">
                    <mat-form-field floatLabel="always" appearance="outline" fxFlex="60">
                        <mat-label>Nhập từ khóa</mat-label>
                        <input matInput #input [(ngModel)]="searchItem.tuKhoa">
                    </mat-form-field>
                </div>
                <div class="respSearch">
                    <div fxFlex="20">
                        <button mat-raised-button color="primary" matTooltipPosition="above" matTooltip="Tìm kiếm"
                            (click)="toHeadPage(); getDSChungtu()">
                            <mat-icon>search</mat-icon> Tìm kiếm
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex-row">
                <div style="float:left;" class="flex-row">
                </div>
                <div style=" width: 100%; float:right;">
                    <mat-paginator #paginator [length]="totalRecord" [pageSize]="searchItem.pageSize"
                        showFirstLastButtons [pageSizeOptions]="[10,20,50]" (page)="getDSChungtu($event)">
                    </mat-paginator>
                </div>
            </div>
            <div class="table">
                <div class="table-container">
                    <table mat-table [dataSource]="dataTable" class="mat-elevation-z8 fs-13">

                        <ng-container matColumnDef="stt">
                            <th mat-header-cell *matHeaderCellDef style="width: 50px">
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; let i = index" style="text-align: center"> {{i+1}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="idChungTu">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;">Số chứng từ</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.chungTu?.soChungTuERP}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ngayLapCT">
                            <th mat-header-cell *matHeaderCellDef>Ngày lập chứng từ</th>
                            <td mat-cell *matCellDef="let element" style="text-align: left">
                                {{ element.chungTu?.ngayYeuCauLapCT === '0001-01-01T00:00:00' ? '' :
                                (element.chungTu?.ngayYeuCauLapCT | date:'dd/MM/yyyy') }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="noiDungTT">
                            <th mat-header-cell *matHeaderCellDef>Nội dung thanh toán</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.chungTu?.noiDungTT}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="hoSoTT">
                            <th mat-header-cell *matHeaderCellDef>Hồ sơ thanh toán</th>
                            <td mat-cell *matCellDef="let element" style="text-align: left">
                                <a class="link"
                                    (click)="view(element.hoSoThanhToan?.hoSoId)">{{element.hoSoThanhToan?.tenHoSo}}</a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="hinhThucChi">
                            <th mat-header-cell *matHeaderCellDef>Hình thức TT</th>
                            <td mat-cell *matCellDef="let element" style="text-align: left">
                                <div *ngFor="let item of hinhThucTT">
                                    <div *ngIf="item.value === element.hoSoThanhToan.hinhThucChi">
                                        {{item.name}}
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="donViThanhToan">
                            <th mat-header-cell *matHeaderCellDef>Đơn vị chuyển</th>
                            <td mat-cell *matCellDef="let element" style="text-align: left">
                                {{element.chungTu?.tenTaiKhoanChuyen}}
                                <br><span
                                    *ngIf="element.chungTu?.maNganHangChuyen || element.chungTu?.soTaiKhoanChuyen">
                                    ({{element.chungTu?.tenNganHangChuyen}}
                                    {{ element.chungTu?.soTaiKhoanChuyen === null ? '' : '- STK ' +
                                    element.chungTu?.soTaiKhoanChuyen}})</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="donViHuong">
                            <th mat-header-cell *matHeaderCellDef>Đơn vị hưởng</th>
                            <td mat-cell *matCellDef="let element" style="text-align: left">
                                {{element.chungTu?.tenTaiKhoanNhan}}
                                <br><span
                                    *ngIf="element.chungTu?.maNganHangNhan || element.chungTu?.soTaiKhoanNhan">({{element.chungTu?.tenNganHangNhan}}
                                    {{ element.chungTu?.soTaiKhoanNhan === null ? '' : '- STK ' +
                                    element.chungTu?.soTaiKhoanNhan}})</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="soTienTTNguyenTe">
                            <th mat-header-cell *matHeaderCellDef>Số tiền thanh toán nguyên tệ</th>
                            <td mat-cell *matCellDef="let element" style="text-align: right">
                                {{element.chungTu?.soTien | number:'':'vi-VN'}} {{element.chungTu?.loaiTienTe}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="soTienTTVND">
                            <th mat-header-cell *matHeaderCellDef>Số tiền thanh toán VND</th>
                            <td mat-cell *matCellDef="let element" style="text-align: right">
                                {{element.chungTu?.soTien * element.chungTu?.tyGia | number:'':'vi-VN'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ngayHachToan">
                            <th mat-header-cell *matHeaderCellDef>Ngày hạch toán</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center">
                                {{ element.hoSoThanhToan.ngayThanhToan === '0001-01-01T00:00:00' ? '' :
                                (element.hoSoThanhToan.ngayThanhToan | date:'dd/MM/yyyy') }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="trangThaiKyDuyet">
                            <th mat-header-cell *matHeaderCellDef>Trạng thái ký duyệt</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center">
                                {{element.daKy ? 'Đã ký' : 'Chưa ký'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="trangThaiCT">
                            <th mat-header-cell *matHeaderCellDef>Trạng thái chứng từ</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center">
                                <div *ngFor="let item of trangThaiCT">
                                    <div *ngIf="item.id === element.chungTu?.trangThaiCT">
                                        {{item.name}}
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="thaoTac">
                            <th mat-header-cell *matHeaderCellDef style="width: 70px">Thao tác</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center">
                                <mat-icon class="cursor-pointer" matTooltip="Xem chứng từ phê duyệt"
                                    (click)="openDialogView(element.chungTu.chungTuId, element)" matTooltipPosition="above">
                                    info
                                </mat-icon>
                                <mat-icon class="cursor-pointer"
                                    *ngIf="element.chungTu.trangThaiCT === constTrangThaiChungTu.dangDuyetMotChuKy"
                                    matTooltip="Phê duyệt" matTooltipPosition="above"
                                    (click)="openDialogApprove(element.chungTu.chungTuId, element.chungTu.trangThaiCT, element.hoSoThanhToan.hoSoId, element)">
                                    edit
                                </mat-icon>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>