<button mat-icon-button class="close-button-dialog" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
<div>
    <h3 mat-dialog-title class="fs-16 color-text dialog-title">Xác nhận số liệu báo cáo</h3><button class="close-button" mat-icon-button aria-label="close dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="LammoiBaoCao()">
        Tải lại báo cáo
    </button>

</div>
<mat-dialog-content mat-dialog-content>
    <div class="flex-row">
        <div style="width:80%;padding-right: 5px; height: auto;">
            <div class="container">
                <div *ngIf="resetImage then afterReset else beforeReset"></div>
                <ng-template #beforeReset>
                    <div *ngIf="data.item.trangThaiXacNhan != 1 && data.item.fileBaoCao == 'wwwroot/fileTableAu/template.pptx' then noImage else hasImage"></div>
                    <ng-template #noImage>
                        <div style="width:100%; height:100%;">
                            <div class="box">
                                <div class="box-content">
                                    <p>Chưa cập nhật dữ liệu báo cáo</p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #hasImage>
                        <img style="width:100%;height:100%;" [src]="environment.apiUrl + data.item.fileBaoCao" />
                    </ng-template>
                </ng-template>
                <ng-template #afterReset>
                    <img style="width:100%;height:100%;" *ngIf="resetImage" [src]="environment.apiUrl + imageAfterReset" />
                </ng-template>
            </div>
            <div class="container" style="display: none;">
                <div id="vizContainer" style="display: flex; justify-content: center"></div>
            <!-- <div class='tableauPlaceholder' style="width:100%; height:100%;">
                <object class='tableauViz' width='800' height='600'>
                    <param name='host_url' value='https://bcqt.evn.com.vn/' />
                    <param name='site_root' value='' />
                    <param name='name' [value]="data.item.urlLink" />
                    <param name="ticket" [value]="ticket" />
                    <param name='tabs' value='yes' />
                    <param name='toolbar' value='yes' />
                </object>
            </div> -->
            <!-- <pdf-viewer [src]="src" [page]="1" [original-size]="false"></pdf-viewer> -->
            </div>
            
        </div>
        <div style="width:20%; " class="container" [formGroup]="formControl">
            <div class="flex-row">
                <mat-checkbox formControlName="isOk" [(ngModel)]="trangThaiDuLieu">Số liệu đúng</mat-checkbox>
            </div>
            <div class="flex-row">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Ý kiến(nêu rõ số liệu chưa đúng)</mat-label>
                    <textarea matInput formControlName="yKien" [(ngModel)]="ghiChu" cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="7" cdkAutosizeMaxRows="7"
                        placeholder="Nội dung ý kiến"></textarea>
                    <!-- <mat-error *ngIf="f.moTa.hasError('required')">
                        Chưa nhập mô tả
                    </mat-error> -->
                </mat-form-field>
            </div>
            <div class="flex-row">
                <button mat-raised-button color="primary" (click)="updateConfirm()">
                    <mat-icon>search</mat-icon> Xác nhận
                </button>
            </div>
            <br>
            <div class="table-container">
                <table mat-table [dataSource]="dsLichSuXn">
                    <ng-container matColumnDef="stt">
                        <th mat-header-cell *matHeaderCellDef style=" width: 50px">
                            STT
                        </th>
                        <td mat-cell *matCellDef="let element; let i = index" style="text-align: center">
                            {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="soLieu">
                        <th mat-header-cell *matHeaderCellDef style="width:100px">Số liệu</th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="element.trangThaiDuLieu == 1">Đúng</div>
                            <div *ngIf="element.trangThaiDuLieu == 2">Chưa đúng</div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="yKien">
                        <th mat-header-cell *matHeaderCellDef>Ý kiến</th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;">
                            {{element.ghiChu}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="thoiGianXN">
                        <th mat-header-cell *matHeaderCellDef style="width:150px">Thời gian XN</th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;">
                            {{element.thoiGianXacNhan| date: 'dd/MM/yyy'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="nguoiXN">
                        <th mat-header-cell *matHeaderCellDef>Người XN</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.tenNguoiTao}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="xem">
                        <th mat-header-cell *matHeaderCellDef style="width: 50px">Xem</th>
                        <td mat-cell *matCellDef="let element" style="text-align: center">
                            <!-- <a [href]="environment.apiUrl + element.fileBaoCao" download> -->
                                <mat-icon matTooltip="Xem file xác nhận báo cáo" (click)="openDialogViewImageXacNhan(element)" class="cursor-pointer">visibility</mat-icon>
                            <!-- </a> -->
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>
        </div>
    </div>
</mat-dialog-content>


