<button mat-icon-button class="close-button-dialog" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
<div>
    <h3 mat-dialog-title class="fs-16 color-text" style="padding-bottom: 20px">
        TỜ TRÌNH / ĐỀ NGHỊ THANH TOÁN
    </h3>
</div>
<mat-dialog-content mat-dialog-content>
    <div>
        <div>
            <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileChange($event)">
                <div class="text-wrapper">
                    <div class="centered">
                        <input 
                            #fileInput 
                            type="file" 
                            name="file" 
                            id="file" 
                            value=null 
                            (click)="fileInput.value = null" 
                            (change)="onFileChange($event.target.files)"
                        >
                        <label *ngIf="doc === ''" for="file"><span class="textLink">Kéo thả tài liệu vào đây
                                hoặc</span><br /> <span style="color: cornflowerblue;"> + Bấm vào đây để tải
                                lên</span></label>
                        <label *ngIf="doc !== ''" for="file">
                            <span class="textLink">{{doc}}</span> <span (click)="handleDeleteFile()" style="color: red; cursor: pointer; margin-left: 5px;"> <svg class="animation-scale"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    aria-hidden="true" role="img" width="16px" height="16px"
                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 448 512">
                                    <path
                                        d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"
                                        fill="currentColor" />
                                </svg>
                            </span>
                        </label>
                    </div>

                </div>
            </div>
            <div style="margin-top: 10px;">
                <button color="primary" mat-raised-button (click)="handleKyvaTrinh(danhSachThaoTac.btnKyVaTrinh)"
                    [disabled]="doc === '' || loading" *ngIf="enableButtonKyVaTrinh">
                    Ký và trình
                </button>
                <!-- <button mat-raised-button >
                    Huỷ
                </button> -->
            </div>
        </div>

        <div *ngIf="pdfSource !== '' ">
            <!-- <app-view-pdf-hstt [pdfSource]="pdfSource"></app-view-pdf-hstt> -->
        </div>
    </div>
</mat-dialog-content>
<div mat-dialog-actions style="float: right;">

    <button mat-raised-button mat-dialog-close>
        Thoát
    </button>

</div>