.container {
    width: 100%;
    padding: 15px;
}

.box-1, .box-2  {
    width: 33.33%;
    padding-right: 40px;
}

.box-3 {
    width: 33.33%;
}

.flex-row, .flex-row-right {
    display: flex;
    align-items: center;
    // justify-content: space-between;

    label {
        margin-left: 10px;
    }
}

.flex-row-right {
    justify-content: end;
}

.flex-row-inner-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 8px;
}

.box-inner {
    display: flex;
    flex-direction: row;
}

.name-input{
    font-weight: bold; 
    // width: 35%;
}

.billing-information {
    display: flex;
    width: 100%;
}

.bill-left {
    width: 50%;
    padding-right: 90px;

    .bill-input-width {
        width: 100%;

        @media(max-width: 1600px) {
            width: 70%;
        }
    }
}

.bill-right {
    width: 50%;
}

// .payment-information {
//     font-weight: bold;
//     text-transform: uppercase;
//     // width: 300px;
//     position: relative;
//     &::after {
//         content: "";
//         height: 1px;
//         width: 81%;
//         display: block;
//         background: #222;
//         position: absolute;
//         margin-top: 1px;
//         right: 2px;
//         top: 10px;
//     }
// }

.payment-information {
    font-weight: bold;
    text-transform: uppercase;
    // width: 300px;
    position: relative;
    width: 244px;
    // &::after {
    //     content: "";
    //     height: 1px;
    //     width: 81%;
    //     display: block;
    //     background: #222;
    //     position: absolute;
    //     margin-top: 1px;
    //     right: 2px;
    //     top: 10px;
    // }
}

.line {
    height: 1px;
    background: #222;;
    display: block;
    width: 98%;

    @media(max-width: 1400px) {
        width: 95%;
    }
}

.box-input-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
